#root {
  max-width: 1050px;
  margin: 0 auto;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #553c33;
}

h2 {
  margin-bottom: 15px;
  color: #694d47;
}
table {
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 30px;
}

th {
  background: #773f23;
  color: white;
  padding: 12px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

tbody tr:hover {
  background: #fcf9f8;
}

ul {
  list-style: none;
}

li {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.menu-nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.btn-nav {
  padding: 12px 22px;
  border: none;
  background-color: #f0e9e2;
  transition: .2s;
}

.btn-nav:hover {
  background: #e1d4cb;
}

.btn-nav[aria-selected="true"] {
  background: #b77b61;
  color: white;
  font-weight: 600;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 4px 15px rgba(0,0,0,.08);
}

.modulo-container {
  max-width: 900px;
  margin: auto;
  background: #fff3f3;
  border-radius: 18px;
  padding: 28px;
  box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

.modulo-container h2 {
  margin-bottom:25px;
    color:#744638;
    font-size:1.8rem;
}

.form {
    margin-bottom:18px;
    align-items: center;
    display:flex;
    flex-direction:column;
    gap:16px;
}

.form label {
  font-weight:600;
  color:#9a6654;
  margin-right: 16px;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn-form {
  width: fit-content;
  border: none;
  background: #9b6048;
  color: white;
  padding:12px 22px;
  border-radius:10px;
  transition:.25s;
}

.btn-form:hover {
  background: #793b26;
}


.btn-excluir {
  background: #ba6e62;
  color: white;
  border: none;
  padding: 8px 14px;
}

.btn-excluir:hover {
  background: #793b2e;
}

.lista {
  padding: 0;
}

.lista li {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 12px;
  border-bottom:1px solid #eee;
}

.erro {
  color: #dc2626;
  font-weight: 600;
  margin-bottom: 10px;
}

.sucesso {
  color: #16a34a;
  font-weight: 600;
  margin-bottom: 10px;
}