* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff2ef;
  color: #805044;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button,
input,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border-radius: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

input, select {
  width:320px;
  padding:12px 14px;
  font-size:16px;
  border-radius:10px;
  border:1px solid #ddd;
  transition:.2s;
}

input:focus,
select:focus {
  outline: none;
  border-color:#b76f51;
  box-shadow:0 0 0 3px rgba(183,111,81,.15);
}